---
layout: root
---

<div class="home">

 <div class="content">

  {{ content }}

  <div class="pagination">
    <div class="older" style="float:left">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&lsaquo;&lsaquo; Older Entries</a>
      {% endif %}
    </div>
    <div class="newer" style="float:right">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Newer Entries &rsaquo;&rsaquo;</a>
      {% endif %}
    </div>
    <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  </div>
 </div>

 <div class="sidebar">
  <ul>
    <li>
      <h2 style="text-align:left">About Us</h2>
      We care about developers needs when working with large codebases. This is a space where we can share ideas, tips, and more importantly, hear what every one is thinking about. See <a href="http://www.architexa.com/about/index" style="display:inline;padding:0px;background-image:none">our background</a> and <a href="http://www.architexa.com/about/index" style="display:inline;padding:0px;background-image:none">our goals</a>.
      <br><br>Follow Us:<br>
      <div>
      <a class="image" href="http://feeds.feedburner.com/Architexa"><img src={{"/assets/theme/rss2.png"|relative_url}}></a>
      <a class="image" href="http://www.facebook.com/Architexa"><img src="/assets/theme/facebook2.png"/></a>
      <a class="image" href="http://twitter.com/Architexa"><img src="/assets/theme/twitter2.png"/></a>
      </div>
    </li>

    <li id="categories-3" class="widget widget_categories"><h2 class="widgettitle">Categories</h2>
      <ul>
        <li class="cat-item cat-item-14"><a href="/category/about/" >About</a> (15)</li>
        <li class="cat-item cat-item-9"><a href="/category/agile-development-methodologies/" >Agile &amp; Development Methodologies</a> (12)</li>
        <li class="cat-item cat-item-5"><a href="/category/design-patterns-architecture/" >Design Patterns &amp; Architecture</a> (12)</li>
        <li class="cat-item cat-item-7"><a href="/category/developer-tools/" >Developer Tools</a> (17)</li>
        <li class="cat-item cat-item-10"><a href="/category/documentation-communication/" >Documentation &amp; Communication</a> (14)</li>
        <li class="cat-item cat-item-22"><a href="/category/eclipse-2/" >Eclipse</a> (6)</li>
        <li class="cat-item cat-item-15"><a href="/category/java/" >Java</a> (21)</li>
        <li class="cat-item cat-item-26"><a href="/category/libraries-frameworks/" >Libraries &amp; Frameworks</a> (10)</li>
        <li class="cat-item cat-item-6"><a href="/category/uml-diagramming/" >UML &amp; Diagramming</a> (11)</li>
        <li class="cat-item cat-item-25"><a href="/category/understanding-developers/" >Understanding Developers</a> (4)</li>
        <li class="cat-item cat-item-8"><a href="/category/user-experience/" >User Experience</a> (7)</li>
      </ul>
    </li>

    <li id="wppp-3" class="widget widget_wppp"><h2 class="widgettitle">Popular Posts</h2>
      <ul class='wppp_list'>
        <li><a href='/2010/04/determining-which-uml-diagram-to-use/' title='Determining Which UML Diagram to Use'>Determining Which UML Diagram to Use</a></li>
        <li><a href='/2010/11/understanding-code-visually-ways-that-work/' title='Understanding Code Visually: Three Ways that Work'>Understanding Code Visually: Three Ways that Work</a></li>
        <li><a href='/2010/11/getting-started-with-lucene-creating-an-index/' title='Getting started with Lucene: Creating an Index'>Getting started with Lucene: Creating an Index</a></li>
        <li><a href='/2011/03/a-detailed-study-on-understanding-code/' title='A Detailed Study on Understanding Code'>A Detailed Study on Understanding Code</a></li>
        <li><a href='/2010/12/custom-lucene-scoring/' title='Custom Lucene Scoring'>Custom Lucene Scoring</a></li>
      </ul>
    </li>

  </ul>
   <p class="rss-subscribe">Subscribe <a href="{{ site.rss_url }}">via RSS</a></p>
 </div>


</div>
